html, body
{
  margin:0;
  margin-top: 20px;
  padding: 0;
}

body
{
  display: grid;
  grid-template-areas: "header header header"
                       "description description description"
                       "advantages advantages advantages"
                       "popular popular popular"
                       "catalog catalog catalog"
                       "discount discount discount"
                       "steps steps steps"
                       "news news news"
                       "reviews reviews reviews"
                       "contacts contacts contacts"
                       "footer footer footer";
  grid-template-rows: auto;
  grid-template-columns: auto;
  margin-right: auto;
  margin-left: auto;
}

header
{
  grid-area: header;
  min-width: 100%;
  border-top: 2px solid #ae7c78;
  border-bottom: 2px solid #ae7c78;
}

.menu
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu ul
{
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  gap: 85px;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li
{
  text-align: center;
  box-sizing: border-box;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu ul a, 
.menu ul img
{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-decoration-line: none;
  color: #ae7c78;
}

.description
{
  grid-area: description;
  min-height: 500px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  width: auto;
  margin-top: 50px;
  gap: 30px;
}

.description div:first-child
{
  align-self: flex-start;
  margin-bottom: 70px;
}

.description div:nth-child(2)
{
  align-self: flex-end;
  margin-bottom: 30px;
}

.description div:nth-child(3)
{
  align-self: flex-start;
  margin-bottom: 70px;
}

.description h1.Playfair-Regular
{
  font-family: 'Playfair Display', sans-serif;
  font-size: 44px;
  line-height: 30px;
  font-weight: 400;
  color: #ae7c78;
  padding: 0;
}
  
.description h1.Playfair-Italic
{
  font-family: 'Playfair Display', sans-serif;
  font-style: italic;
  font-size: 44px;
  line-height: 30px;
  font-weight: 400;
  color: #ae7c78;
}

.description h2.Header2-Montserrat
{
  margin-top: 50px;
  margin-bottom: 70px; 
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #ae7c78;
  text-shadow: 0px 3px 3px #b6a6a5;
}

.description a.view-catalog
{ 
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration-line: none;
  background-color: #d89999;
  width: 285px;
  border-radius: 40px;
  padding: auto auto;
  padding-top: 24px;
  padding-bottom: 24px;
  color: white;
}

.description img
{
  border-radius: 10px;
}

.advantages
{
  grid-area: advantages;
  margin: 0;
  padding: 0;
  min-height: 108px;
  width: auto;
  height: auto;
  color: #ae7c78;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.advantages ul
{
  list-style: none;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0;
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.advantages ul li
{
  flex-basis: 350px;
}

.advantages ul li:first-child
{
  flex-basis: 380px;
}

.advantages ul li:first-child::before 
{
  content: "";
  float: left;
  margin-right: 10px;           /*Задаёт насколько смещается изображение относительно текста списка*/
  margin-bottom: 50px;         /*Не даёт тексту обтекать картинку снизу*/              
  width: 82px;
  height: 52px;
  box-sizing: border-box;
  background-image: url(img/delivery-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;     /*чтобы изображение не обрезалось*/
}

.advantages ul li:nth-child(2)::before 
{
  content: "";
  float: left;
  margin-right: 10px;           /*Задаёт насколько смещается изображение относительно текста списка*/   
  margin-bottom: 50px;         /*Не даёт тексту обтекать картинку снизу*/                     
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  background-image: url(img/bouquet-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;     /*чтобы изображение не обрезалось*/
}

.advantages ul li:nth-child(3)::before  
{
  content: "";
  float: left;
  margin-right: 10px;           /*Задаёт насколько смещается изображение относительно текста списка*/ 
  margin-bottom: 50px;         /*Не даёт тексту обтекать картинку снизу*/                     
  width: 68px;
  height: 52px;
  box-sizing: border-box;
  background-image: url(img/photo-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;     /*чтобы изображение не обрезалось*/
}

.advantages .header-advantages
{
  font-weight: bold;
  line-height: 10px;
}

.popular
{
  grid-area: popular;
  margin-top: 0;
  margin-bottom: 30px;
  min-height: 438px;
  width: auto;
  height: auto;
  color: #ae7c78;
}

.popular ul
{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}

.popular li
{
  width: 387px;
  font-family: 'Montserrat', sans-serif;  
}

.popular h2
{
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
  font-size: 36px;
  line-height: 30px;
  font-weight: bold;
  padding: 0;
}

.popular li h3
{
  font-size: 24px;
  font-weight: bold;
}

.popular li p
{
  font-size: 16px;
}

.popular li .price-of-popular
{
  font-size: 24px;
}

.popular li a
{ 
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration-line: none;
  background-color: #d89999;
  width: 285px;
  border-radius: 40px;
  padding: auto auto;
  padding-top: 24px;
  padding-bottom: 24px;
  color: white;
}

.popular .arrows
{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.catalog
{
  grid-area: catalog;
  margin-top: 0;
  margin-bottom: 70px;
  min-height: 442px;
  width: auto;
  height: auto;
}

.catalog ul
{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

.catalog ul a li
{
  text-align: center;
  margin-bottom: 20px;
}

.catalog ul a
{
  text-decoration: none;
  color: white;
}

.catalog ul a li
{
  height: 442px;
  width: 387px;
}

.catalog ul a:first-of-type li
{
  background: url(img/wedding_bouquets.jpg) no-repeat rgba(174, 124, 120, 0.6);
  background-blend-mode: multiply;
  border-radius: 10px;
}

.catalog ul a:nth-of-type(2) li
{
  background: url(img/peony-flowers-vase.jpg) no-repeat rgba(174, 124, 120, 0.6);
  background-blend-mode: multiply;
  border-radius: 10px;
}

.catalog ul a:nth-of-type(3) li
{
  background: url(img/catalog-choose_bouquet.jpg) no-repeat rgba(174, 124, 120, 0.6);
  background-blend-mode: multiply;
  border-radius: 10px;
}

.catalog h3
{
  padding-top: 180px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 36px;
  line-height: 10px;
  font-weight: bold;
}

.catalog p
{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.discount
{
  grid-area: discount;
  margin-top: 0;
  box-sizing: border-box;
  margin-bottom: 30px;
  min-height: 391px;
  width: auto;
  height: auto;
  color: white;
}

.discount ul
{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.discount ul li
{
  flex-basis: 590px;
}

.discount ul li:first-child
{
  min-width: 610px;
  background-color: #ae7c78;
  box-sizing: border-box;
  min-height: 391px;
  padding-top: 0;
  padding-bottom: 0;
}

.discount h3
{
  font-family: 'Playfair Display', sans-serif;
  font-size: 44px;
  line-height: 60px;
  font-weight: 300;
  margin-bottom: 10px;    /*Уменьшаем отступ снизу до абзаца*/
  padding-left: 100px;
  padding-right: 100px;
}

.discount p
{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  padding-top: 0;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom:20px;
}

.steps-for-order
{
  grid-area: steps;
  margin: 0;
  padding: 0;
  min-height: 232px;
  width: auto;
  height: auto;
  color: #ae7c78;
}

.steps-for-order ul
{
  list-style: none;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
}

.steps-for-order ul li
{
  flex-basis: 280px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.steps-for-order ul li:nth-child(3)
{
  flex-basis: 260px;
}

.steps-for-order ul li:first-child::before 
{
  content: "";
  display: block;
  clear: both;       
  width: 67px;
  height: 52px;
  position: relative;
  left: 108px;
  bottom: 20px;
  box-sizing: border-box;
  background-image: url(img/icon-order.svg);
  background-repeat: no-repeat;
  background-size: contain;     /*чтобы изображение не обрезалось*/
}

.steps-for-order ul li:nth-child(2)::before 
{
  content: "";
  display: block;
  clear: both;       
  width: 38px;
  height: 52px;
  position: relative;
  left: 120px;
  bottom: 20px;
  box-sizing: border-box;
  background-image: url(img/icon-florist.svg);
  background-repeat: no-repeat;
  background-size: contain;     /*чтобы изображение не обрезалось*/
}

.steps-for-order ul li:nth-child(3)::before 
{
  content: "";
  display: block;
  clear: both;       
  width: 67px;
  height: 52px;
  position: relative;
  left: 98px;
  bottom: 20px;
  box-sizing: border-box;
  background-image: url(img/icon-payment.svg);
  background-repeat: no-repeat;
  background-size: contain;     /*чтобы изображение не обрезалось*/
}

.steps-for-order ul li:nth-child(4)::before 
{
  content: "";
  display: block;
  clear: both;       
  width: 83px;
  height: 52px;
  position: relative;
  left: 98px;
  bottom: 20px;
  box-sizing: border-box;
  background-image: url(img/delivery-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;     /*чтобы изображение не обрезалось*/
}

.steps-for-order h3
{
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
  font-size: 36px;
  line-height: 30px;
  font-weight: bold;
  padding: 0;
  padding-bottom: 30px;
}

.steps-for-order .header-steps
{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 10px;
}

.steps-for-order p
{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.news
{
  grid-area: news;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #ae7c78;
  min-height: 460px;
  height: auto;
  margin-left: 155px;
  margin-right: 159px;
  margin-bottom: 70px;
}

@media (max-width: 640px)
{
  .news
  {
    margin:0;
    padding: 0;
  }
  .news div img,
  .news div:nth-child(3)
  {
    width: 100%;
    height: auto;
  }
}

.news div:first-child
{
  flex-basis: 493px;
  flex-grow: 1;
  margin-bottom: 60px;
}

.news div:nth-child(2)
{
  flex-basis: 285px;
  flex-grow: 1;
}

.news div:nth-child(3)
{
  flex-basis: 387px;
  flex-grow: 1;
}

.news-second-column div:first-child
{
  margin-bottom: 15px;
}

/*Тоже самое на гридах
.news
{
  grid-area: news;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.news ul
{
  list-style: none;
  display: grid;
  grid-template-columns: 495px auto auto;
  grid-template-rows: auto auto;
  gap: 15px 20px;
  color: #ae7c78;
}

.news ul li:first-child
{
  grid-column: 1/2;
  grid-row: 1/3;
}

.news ul li:nth-child(2)
{
  grid-column: 2/3;
  grid-row: 1/2;
}

.news ul li:nth-child(3)
{
  grid-column: 2/3;
  grid-row: 2/3;
}

.news ul li:nth-child(4)
{
  grid-column: 3/4;
  grid-row: 1/3;
  padding-right: 47px;
}
*/
.news h3
{
  font-family: 'Playfair Display', sans-serif;
  font-size: 36px;
  line-height: 50px;
  font-weight: bold;
  padding-left: 0;
  padding-top: 10px;
  padding-right: 145px;
  margin-bottom: 30px;
  padding-left: 6px;
}

.news .news-signature
{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: normal;
  padding-right: 90px;
  padding-bottom: 20px;
  padding-left: 6px;
}

.news .icon-contacts
{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 97px;
  height: 20px;
  gap: 20px;
  padding-left: 6px;
}

.reviews
{
  grid-area: reviews;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: 155px;
  margin-right: 158px;
  margin-bottom: 50px;
  padding: 0;
  min-height: 308px;
  width: auto;
  height: auto;
  color: #ae7c78;
  border: 2px solid #ae7c78;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}

.reviews ul
{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: stretch;
  align-items: flex-start;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.reviews ul li
{
  flex-basis: 380px;
  padding: 0;
  margin: 0;
}

.reviews h3
{
  font-family: 'Playfair Display', sans-serif;
  font-size: 36px;
  line-height: 50px;
  font-weight: bold;
  margin-right: 50px;
  margin-bottom: 25px;
}

.reviews blockquote,
.reviews cite
{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  word-spacing: normal;
}

.contacts
{
  grid-area: contacts;
  background-image: url(img/map.jpg);
  width: auto;
  height: 644px;
  color: #ae7c78;
}

.contacts div
{
  box-sizing: border-box;
  width: 386px;
  height: 520px;
  border-radius: 12px;
  background-color: white;
  margin-left: 220px;
  margin-top: 50px;
}

.contacts h3
{
  font-family: 'Playfair Display', sans-serif;
  font-size: 36px;
  line-height: 50px;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 40px;
}

.contacts div p a
{
  text-decoration: none;
  color: #ae7c78;
}

.contacts p
{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-left: 30px;
  margin-bottom: 20px;
}

.contacts p:nth-child(2n+1)
{
  font-weight: bold;
  margin-bottom: 25px;
}

.footer
{
  grid-area: footer;
  background-color: #ae7c78;
  min-height: 97px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  gap: 10px;
}

.footer div a
{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-decoration-line: none;
  color: white;
}

.footer .icon-contacts
{
  display: flex;
  width: 97px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
